* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.vert {
  color: #4AD619 !important;
}

.rouge {
  color: #D61919 !important;
}

body {
  background-color: #000;
  height: 130vh;
  display: flex;
}
@media screen and (max-width: 768px) {
  body {
    flex-direction: column;
  }
}
body .activeburger {
  position: absolute;
  display: block !important;
  width: 100% !important;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: black;
}
body .active {
  display: block !important;
}
body .none {
  display: none !important;
}
body #gauche {
  width: 20%;
  height: 120vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Poppins Medium";
}
@media screen and (max-width: 1024px) {
  body #gauche {
    display: none;
  }
}
body #gauche #minance {
  height: 15%;
  width: 100%;
  display: flex;
  align-items: center;
  margin-left: 10%;
}
body #gauche #minance span {
  color: #fff;
  font-weight: bold;
  font-size: xx-large;
  margin-top: 10px;
}
body #gauche #minance p {
  color: #ffffff;
  font-size: xxx-large;
  margin-left: 30%;
  display: none;
}
body #gauche #dashboardSection {
  height: 70%;
  width: 100%;
}
body #gauche #dashboardSection #dashboard {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 65px;
  width: 80%;
  background: linear-gradient(266.37deg, #FAFF00 -5.82%, #FAFF00 15.95%, #1970D6 41.2%, #6C1182 72.88%);
  border-radius: 17px;
  gap: 15px;
  margin-left: 10%;
  margin-top: 15%;
}
body #gauche #dashboardSection ul {
  margin-left: 10%;
  list-style: none;
  display: flex;
  flex-direction: column;
  margin-top: 10%;
}
body #gauche #dashboardSection ul li {
  display: flex;
  gap: 15px;
  margin-top: 5%;
  margin-left: 10%;
  align-items: center;
  color: #ffffff;
  opacity: 80%;
}
body #gauche #logout {
  height: 15%;
  width: 100%;
  display: flex;
  align-items: center;
}
body #gauche #logout div {
  display: flex;
  margin-left: 10%;
  color: #ffffff;
  opacity: 80%;
  gap: 15px;
}
body #gauche #logout div p {
  margin-top: 5px;
  font-weight: lighter;
}
body #milieu {
  width: 50%;
  height: 130vh;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 1024px) {
  body #milieu {
    width: 60%;
  }
}
@media screen and (max-width: 768px) {
  body #milieu {
    width: 100%;
  }
}
body #milieu #Hi {
  height: 10%;
  width: 100%;
  font-family: "Poppins Medium";
  display: flex;
  justify-content: space-between;
  padding-top: 4%;
}
@media screen and (max-width: 530px) {
  body #milieu #Hi {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
}
body #milieu #Hi #burger {
  display: none;
  width: 35px;
  height: 35px;
}
@media screen and (max-width: 1024px) {
  body #milieu #Hi #burger {
    display: flex;
  }
}
@media screen and (max-width: 530px) {
  body #milieu #Hi #burger {
    margin-right: 90%;
  }
}
body #milieu #Hi p {
  font-size: x-large;
  color: #ffffff;
}
body #milieu #Hi div {
  width: 50%;
  height: 30px;
  background-color: #ffffff;
  border-radius: 7px;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-right: 10%;
}
@media screen and (max-width: 530px) {
  body #milieu #Hi div {
    margin-right: 0;
  }
}
body #milieu #Hi div img {
  width: 25px;
  margin-left: 15px;
}
body #milieu #Hi div input {
  width: 70%;
  border: none;
  font-size: large;
  color: black;
}
body #milieu #totalBalance {
  height: 20%;
  width: 100%;
  display: flex;
  font-family: "Poppins Medium";
}
@media screen and (max-width: 530px) {
  body #milieu #totalBalance {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
}
body #milieu #totalBalance #chiffreBalance {
  height: 100%;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  margin-left: 10px;
}
body #milieu #totalBalance #chiffreBalance p {
  color: #ffffff;
  opacity: 80%;
}
body #milieu #totalBalance #chiffreBalance div {
  display: flex;
}
body #milieu #totalBalance #chiffreBalance div p {
  font-size: larger;
  opacity: 100%;
}
body #milieu #totalBalance #chiffreBalance div span {
  margin-left: 10px;
  color: black;
  background-color: #FAFF00;
  border-radius: 10px;
  width: 40px;
  height: 25px;
  text-align: center;
}
body #milieu #totalBalance #ulBalance {
  height: 100%;
  width: 60%;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 530px) {
  body #milieu #totalBalance #ulBalance {
    width: 80%;
  }
}
body #milieu #totalBalance #ulBalance div {
  width: 80%;
  height: 45px;
  background-color: #292727;
  border-radius: 12px;
  display: flex;
  justify-content: space-around;
  color: #ffffff;
  align-items: center;
}
@media screen and (max-width: 530px) {
  body #milieu #totalBalance #ulBalance div {
    width: 100%;
  }
}
body #milieu #totalBalance #ulBalance div #active {
  background-color: #0D0C0C;
  width: 80px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
}
body #milieu #graphic {
  height: 45%;
  width: 100%;
  background-color: #303541;
  border-radius: 25px;
  display: flex;
  align-items: center;
}
body #milieu #graphic img {
  width: 90%;
  height: 100%;
}
body #milieu #recentTransactions {
  height: 25%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-family: "Poppins Medium";
}
@media screen and (max-width: 530px) {
  body #milieu #recentTransactions {
    justify-content: center;
    height: auto;
    gap: 20px;
  }
}
body #milieu #recentTransactions .Transactions {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: #ffffff;
  font-size: small;
  opacity: 100%;
}
@media screen and (max-width: 530px) {
  body #milieu #recentTransactions .Transactions {
    flex-direction: column;
  }
}
@media screen and (max-width: 530px) {
  body #milieu #recentTransactions .Transactions div {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
  }
}
body #milieu #recentTransactions .Transactions img {
  width: 80%;
}
body #milieu #recentTransactions .Transactions .trade {
  background-color: black;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 70px;
  border-radius: 20px;
}
body #milieu #recentTransactions .Transactions #bleu {
  color: #1970D6;
}
body #milieu #recentTransactions .Transactions #violet {
  color: #6C1182;
}
body #milieu #recentTransactions #haut {
  height: 30%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body #milieu #recentTransactions #haut p {
  color: #ffffff;
  opacity: 70%;
  margin-right: 10px;
}
body #milieu #recentTransactions #haut #Recent {
  opacity: 100%;
  margin-left: 10px;
  margin-right: 0;
}
body #milieu #recentTransactions #mid {
  height: 30%;
  width: 100%;
  background-color: rgba(32, 35, 43, 0.6980392157);
  border-radius: 20px;
  display: flex;
}
@media screen and (max-width: 530px) {
  body #milieu #recentTransactions #mid {
    height: 250px;
  }
}
body #milieu #recentTransactions #bas {
  height: 30%;
  width: 100%;
  background-color: rgba(32, 35, 43, 0.6980392157);
  border-radius: 20px;
  display: flex;
}
@media screen and (max-width: 530px) {
  body #milieu #recentTransactions #bas {
    height: 250px;
  }
}
body #droite {
  width: 30%;
  height: 130vh;
}
@media screen and (max-width: 1024px) {
  body #droite {
    width: 40%;
  }
}
@media screen and (max-width: 768px) {
  body #droite {
    width: 100%;
  }
}
@media screen and (max-width: 530px) {
  body #droite {
    margin-top: 250px;
  }
}
body #droite #notifs {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: space-between;
  align-items: end;
}
@media screen and (max-width: 768px) {
  body #droite #notifs {
    display: none;
  }
}
body #droite #notifs img {
  margin: 10px;
  width: 8%;
}
body #droite #notifs #notifsImg {
  width: 6%;
}
body #droite #transactionsDroite {
  width: 100%;
  height: 50%;
  font-family: "Poppins Medium";
}
@media screen and (max-width: 768px) {
  body #droite #transactionsDroite {
    margin-bottom: 120px;
  }
}
body #droite #transactionsDroite p {
  height: 30%;
  color: #ffffff;
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-left: 3%;
  font-weight: bold;
}
body #droite #transactionsDroite .transacsDroites {
  height: 14%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 5%;
}
@media screen and (max-width: 768px) {
  body #droite #transactionsDroite .transacsDroites {
    margin-top: 20px;
  }
}
body #droite #transactionsDroite .transacsDroites div:nth-of-type(1) {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
body #droite #transactionsDroite .transacsDroites div:nth-of-type(1) .M10 {
  margin-left: 10px;
}
body #droite #transactionsDroite .transacsDroites div:nth-of-type(1) .T50 {
  width: 50%;
}
body #droite #transactionsDroite .transacsDroites div:nth-of-type(1) .T70 {
  width: 60%;
}
body #droite #transactionsDroite .transacsDroites div:nth-of-type(2) {
  width: 40%;
}
body #droite #transactionsDroite .transacsDroites div:nth-of-type(3) {
  width: 40%;
}
body #droite #transactionsDroite .transacsDroites .o70 {
  opacity: 70%;
  font-size: 12px;
}
body #droite #assets {
  width: 100%;
  height: 40%;
}
body #droite #assets #assetTexte {
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  font-family: "Poppins Medium";
}
body #droite #assets #assetTexte p {
  font-weight: bold;
  color: #ffffff;
  margin-left: 3%;
}
body #droite #assets #Bitcoin {
  width: 100%;
  height: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}
body #droite #assets #Bitcoin #degradeBitcoin {
  height: 90%;
  width: 80%;
  background: linear-gradient(98.73deg, #611D8D 35.75%, #2F7EC1 73.26%);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
  font-family: "Poppins Medium";
}
body #droite #assets #Bitcoin #degradeBitcoin div:nth-of-type(1) {
  width: 80%;
  height: 50%;
  display: flex;
  justify-content: start;
  align-items: center;
}
body #droite #assets #Bitcoin #degradeBitcoin div:nth-of-type(1) img {
  width: 15%;
}
@media screen and (max-width: 768px) {
  body #droite #assets #Bitcoin #degradeBitcoin div:nth-of-type(1) img {
    width: 10%;
  }
}
body #droite #assets #Bitcoin #degradeBitcoin div:nth-of-type(2) {
  width: 80%;
  height: 25%;
  display: flex;
  justify-content: start;
  align-items: center;
}
body #droite #assets #Bitcoin #degradeBitcoin div:nth-of-type(3) {
  width: 80%;
  height: 25%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: larger;
}
body #droite #assets #Etherum {
  width: 100%;
  height: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}
body #droite #assets #Etherum #degradeEtherum {
  height: 90%;
  width: 80%;
  background: linear-gradient(99.56deg, #FAFF00 35.82%, #29ABE2 64.75%, rgba(255, 255, 255, 0.7) 91.33%);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
  font-family: "Poppins Medium";
}
body #droite #assets #Etherum #degradeEtherum div:nth-of-type(1) {
  width: 80%;
  height: 50%;
  display: flex;
  justify-content: start;
  align-items: center;
}
body #droite #assets #Etherum #degradeEtherum div:nth-of-type(1) img {
  width: 15%;
}
@media screen and (max-width: 768px) {
  body #droite #assets #Etherum #degradeEtherum div:nth-of-type(1) img {
    width: 10%;
  }
}
body #droite #assets #Etherum #degradeEtherum div:nth-of-type(2) {
  width: 80%;
  height: 25%;
  display: flex;
  justify-content: start;
  align-items: center;
}
body #droite #assets #Etherum #degradeEtherum div:nth-of-type(3) {
  width: 80%;
  height: 25%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: larger;
}

/*# sourceMappingURL=build.css.map */
