*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.vert{
  color: #4AD619 !important;
}

.rouge{
  color: #D61919 !important;
}

body{
  background-color: #000;
  height: 130vh;
  display: flex;

  @media screen and (max-width: 768px) {
    flex-direction: column;
  }
  #gauche{
    width: 20%;
    height: 120vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Poppins Medium";

    @media screen and (max-width: 1024px) {
      display: none;
    }
    #minance{
      height: 15%;
      width: 100%;
      display: flex;
      align-items: center;
      margin-left: 10%;
      span{
        color: #fff;
        font-weight: bold;
        font-size: xx-large;
        margin-top: 10px;
      }
    }
    #dashboardSection{
      height: 70%;
      width: 100%;
      #dashboard{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 65px;
        width: 80%;
        background: linear-gradient(266.37deg, #FAFF00 -5.82%, #FAFF00 15.95%, #1970D6 41.2%, #6C1182 72.88%);
        border-radius: 17px;
        gap: 15px;
        margin-left: 10%;
        margin-top: 15%;

      }
      ul{
        margin-left: 10%;
        list-style: none;
        display: flex;
        flex-direction: column;
        margin-top: 10%;
        li{
          display: flex;
          gap: 15px;
          margin-top: 5%;
          margin-left: 10%;
          align-items: center;
          color: #ffffff;
          opacity: 80%;
        }
      }
    }
    #logout{
      height: 15%;
      width: 100%;
      display: flex;
      align-items: center;
      div{
        display: flex;
        margin-left: 10%;
        color: #ffffff;
        opacity: 80%;
        gap: 15px;
        p{
          margin-top: 5px;
          font-weight: lighter;
        }
      }
    }
  }
  #milieu{
    width: 50%;
    height: 130vh;
    display: flex;
    flex-direction: column;

    @media screen and (max-width: 1024px) {
      width: 60%;
    }

      @media screen and (max-width: 768px) {
        width: 100%;
      }
    #Hi{
      height: 10%;
      width: 100%;
      font-family: "Poppins Medium";
      display: flex;
      justify-content: space-between;
      padding-top: 4%;

      @media screen and (max-width: 530px) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
      }


      #burger {
        display: none;
        width: 35px;
        height: 35px;
        @media screen and (max-width: 1024px) {
          display: flex;
        }
        @media screen and (max-width: 530px) {
          margin-right: 90%;
        }
      }

      p{
        font-size: x-large;
        color: #ffffff;
      }
      div{
        width: 50%;
        height: 30px;
        background-color: #ffffff;
        border-radius: 7px;
        display: flex;
        align-items: center;
        gap: 10px;
        margin-right: 10%;


        @media screen and (max-width: 530px) {
          margin-right: 0;
        }
        img{
          width: 25px;
          margin-left: 15px;
        }
        input{
          width: 70%;
          border: none;
          font-size: large;
          color: black;
        }
      }
    }
    #totalBalance{
      height: 20%;
      width: 100%;
      display: flex;
      font-family: "Poppins Medium";

      @media screen and (max-width: 530px) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
      }
      #chiffreBalance{
        height: 100%;
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
        margin-left: 10px;
        p{
          color: #ffffff;
          opacity: 80%;
        }
        div{
          display: flex;
          p{
            font-size: larger;
            opacity: 100%;
          }
          span{
            margin-left: 10px;
            color: black;
            background-color: #FAFF00;
            border-radius: 10px;
            width: 40px;
            height: 25px;
            text-align: center;
          }
        }
      }
      #ulBalance{
        height: 100%;
        width: 60%;
        display: flex;
        align-items: center;

        @media screen and (max-width: 530px) {
          width: 80%;
        }
        div{
          width: 80%;
          height: 45px;
          background-color: #292727;
          border-radius: 12px;
          display: flex;
          justify-content: space-around;
          color: #ffffff;
          align-items: center;

          @media screen and (max-width: 530px) {
            width: 100%;
          }
            #active{
              background-color: #0D0C0C;
              width: 80px;
              height: 30px;
              display: flex;
              align-items: center;
              justify-content: center;
              border-radius: 12px;
            }

        }
      }
    }
    #graphic{
      height: 45%;
      width: 100%;
      background-color: #303541;
      border-radius: 25px;
      display: flex;
      align-items: center;
      img{
        width: 90%;
        height: 100%;
      }
    }
    #recentTransactions{
      height: 25%;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      font-family: "Poppins Medium";

      @media screen and (max-width: 530px) {
        justify-content: center;
        height: auto;
        gap: 20px;
      }
      .Transactions{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        color: #ffffff;
        font-size: small;
        opacity: 100%;

        @media screen and (max-width: 530px) {
          flex-direction: column;
        }

        div{
          @media screen and (max-width: 530px) {
            display: flex;
            justify-content: space-evenly;
            gap: 20px;
          }
        }

        img{
          width: 80%;
        }
        .trade{
          background-color: black;
          text-align: center;
          display: flex;
          align-items: center;
          justify-content: center;
          height: 40px;
          width: 70px;
          border-radius: 20px;
        }
        #bleu{
          color: #1970D6;
        }
        #violet{
          color: #6C1182;
        }
      }
      #haut{
        height: 30%;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        p{
          color: #ffffff;
          opacity: 70% ;
          margin-right: 10px;
        }
        #Recent{
          opacity: 100%;
          margin-left: 10px;
          margin-right: 0;
        }
      }
      #mid{
        height: 30%;
        width: 100%;
        background-color: #20232BB2;
        border-radius: 20px;
        display: flex;

        @media screen and (max-width: 530px) {
          height: 250px;

        }
      }
      #bas{
        height: 30%;
        width: 100%;
        background-color: #20232BB2;
        border-radius: 20px;
        display: flex;

        @media screen and (max-width: 530px) {
          height: 250px;
        }
      }
    }
  }
  #droite{
    width: 30%;
    height: 130vh;

    @media screen and (max-width: 1024px) {
      width: 40%;
    }

    @media screen and (max-width: 768px) {
      width: 100%;
    }

    @media screen and (max-width: 530px) {
      margin-top: 250px;
    }

    #notifs{
      width: 100%;
      height: 10%;
      display: flex;
      justify-content: space-between;
      align-items: end;

      @media screen and (max-width: 768px) {
        display: none;
      }
      img{
        margin: 10px;
        width: 8%;
      }
      #notifsImg{
        width: 6%;
      }
    }
    #transactionsDroite{
      width: 100%;
      height: 50%;
      font-family: "Poppins Medium";

      @media screen and (max-width: 768px) {
        margin-bottom: 120px;
      }
      p{
        height: 30%;
        color: #ffffff;
        display: flex;
        align-items: center;
        margin-top: 10px;
        margin-left: 3%;
        font-weight: bold;
      }
      .transacsDroites{
        height: 14%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: start;
        gap: 5%;

        @media screen and (max-width: 768px) {
          margin-top: 20px;
        }
        div:nth-of-type(1){
          width: 20%;
          display: flex;
          justify-content: center;
          align-items: center;
          .M10{
            margin-left: 10px;
          }
          .T50{
            width: 50%;
          }
          .T70{
            width: 60%;
          }
        }
        div:nth-of-type(2){
          width: 40%;
        }
        div:nth-of-type(3){
          width: 40%;
        }
        .o70{
          opacity: 70%;
          font-size: 12px;
      }
      }
    }
    #assets{
      width: 100%;
      height: 40%;
      #assetTexte{
        width: 100%;
        height: 20%;
        display: flex;
        align-items: center;
        font-family: "Poppins Medium";
        p{
          font-weight: bold;
          color: #ffffff;
          margin-left: 3%;
        }
      }
      #Bitcoin{
        width: 100%;
        height: 40%;
        display: flex;
        align-items: center;
        justify-content: center;
        #degradeBitcoin{
          height: 90%;
          width: 80%;
          background: linear-gradient(98.73deg, #611D8D 35.75%, #2F7EC1 73.26%);
          border-radius: 20px;
          display: flex;
          flex-direction: column;
          align-items: center;
          color: #ffffff;
          font-family: "Poppins Medium";
          div:nth-of-type(1){
            width: 80%;
            height: 50%;
            display: flex;
            justify-content: start;
            align-items: center;
            img{
              width: 15%;

              @media screen and (max-width: 768px) {
                width: 10%;
              }
            }
          }
          div:nth-of-type(2){
            width: 80%;
            height: 25%;
            display: flex;
            justify-content: start;
            align-items: center;
          }
          div:nth-of-type(3){
            width: 80%;
            height: 25%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: larger;
          }
        }
      }
      #Etherum{
        width: 100%;
        height: 40%;
        display: flex;
        align-items: center;
        justify-content: center;
        #degradeEtherum{
          height: 90%;
          width: 80%;
          background: linear-gradient(99.56deg, #FAFF00 35.82%, #29ABE2 64.75%, rgba(255, 255, 255, 0.7) 91.33%);
          border-radius: 20px;
          display: flex;
          flex-direction: column;
          align-items: center;
          color: #ffffff;
          font-family: "Poppins Medium";
          div:nth-of-type(1){
            width: 80%;
            height: 50%;
            display: flex;
            justify-content: start;
            align-items: center;
            img{
              width: 15%;

              @media screen and (max-width: 768px) {
                width: 10%;
              }
            }
          }
          div:nth-of-type(2){
            width: 80%;
            height: 25%;
            display: flex;
            justify-content: start;
            align-items: center;
          }
          div:nth-of-type(3){
            width: 80%;
            height: 25%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: larger;
          }
        }
      }
    }
  }

}





